body {
  height: 100%;
  width: 100%;
  border: 5px solid gray;
  overflow: hidden; /* Hide scrollbars */
  margin:0;
  
}

html {
  height: 99%;
  width: 99.4%;
  background-image: linear-gradient(to right, rgb(97, 0, 0) , rgb(1, 141, 83));
}

h1 {
  user-select: none;
  text-align: center;
  font-family: "Comic Sans";
  color: rgb(132, 241, 241);
}

h3 {
  font-family: "Comic Sans";
  color: rgb(132, 241, 241);
}
a:link {
  color: rgb(132, 241, 241);
  background-color: transparent;
  text-decoration: none;
}
a:visited {
  color: rgb(132, 241, 241);
  background-color: transparent;
  text-decoration: none;
}
a:hover {
  color: rgb(132, 241, 241);
  background-color: transparent;
  text-decoration: underline;
}
a:active {
  color: rgb(132, 241, 241);
  background-color: transparent;
  text-decoration: underline;
}
h4 {
  font-family: "Comic Sans";
  color: rgb(132, 241, 241);
}

.Name {
  color: rgb(132, 241, 241);
}

.Yes {
  color: rgb(132, 241, 241);
}

.No {
  color: rgb(132, 241, 241);
}

.box {
  z-index: 9;
  pointer-events: none;
  margin: 0 auto;
  width: 100%;
  height: 100%;
  position: absolute;
  overflow: hidden;
}

.box b {
  display: block;
  width: 1%;
  height: 2%;
  position: absolute;
  -webkit-animation: moveX 2s linear 0s infinite alternate, moveY 3.4s linear 0s infinite alternate;
  -moz-animation: moveX 2s linear 0s infinite alternate, moveY 3.4s linear 0s infinite alternate;
  -o-animation: moveX 2s linear 0s infinite alternate, moveY 3.4s linear 0s infinite alternate;
  animation: moveX 2s linear 0s infinite alternate, moveY 3.4s linear 0s infinite alternate;
}

@-webkit-keyframes moveX {
  from {
    left: 0;
  }

  to {
    left: 96%;
  }
}

@-moz-keyframes moveX {
  from {
    left: 0;
  }

  to {
    left: 96%;
  }
}

@-o-keyframes moveX {
  from {
    left: 0;
  }

  to {
    left: 96%;
  }
}

@keyframes moveX {
  from {
    left: 0;
  }

  to {
    left: 96%;
  }
}

@-webkit-keyframes moveY {
  from {
    top: 0;
  }

  to {
    top: 94%;
  }
}

@-moz-keyframes moveY {
  from {
    top: 0;
  }

  to {
    top: 94%;
  }
}

@-o-keyframes moveY {
  from {
    top: 0;
  }

  to {
    top: 94%;
  }
}

@keyframes moveY {
  from {
    top: 0;
  }

  to {
    top: 94%;
  }
}